db_name={{ db_name }}

db_unique_name={{ standby_unique_name }}

enable_pluggable_database=true

memory_target={{ oracle_memory_mb }}M

fal_server={{ primary_unique_name }}

db_file_name_convert='{{ oracle_datafile_destination }}/{{ primary_unique_name | upper }}/','{{ oracle_datafile_destination }}/{{ standby_unique_name | upper }}/'

log_file_name_convert='{{ oracle_datafile_destination }}/{{ primary_unique_name | upper }}/','{{ oracle_datafile_destination }}/{{ standby_unique_name | upper }}/'