LISTENER =
  (DESCRIPTION_LIST =
    (DESCRIPTION =
      (ADDRESS = (PROTOCOL = TCP)(HOST = {{ hostvars['standby_db']['ansible_host'] }})(PORT = {{ listener_port }}))
    )
  )

SID_LIST_LISTENER =
  (SID_LIST =
    (SID_DESC =
      (GLOBAL_DBNAME = {{ standby_unique_name }}_DGMGRL)
      (ORACLE_HOME = {{ oracle_home }})
      (SID_NAME = {{ oracle_sid }})
    )
    (SID_DESC =
      (GLOBAL_DBNAME = {{ standby_unique_name }})
      (ORACLE_HOME = {{ oracle_home }})
      (SID_NAME = {{ oracle_sid }})
    )
  )