[defaults]
inventory = inventories/dev/hosts.ini
host_key_checking = False
private_key_file = ~/.ssh/aws-oracle-lab
remote_user = rocky
roles_path = roles
log_path = ~/oracle-ha-platform-aws/ansible/ansible.log
