[defaults]
inventory = inventories/dev/hosts.ini
host_key_checking = False
private_key_file = /home/dataops/.ssh/aws-oracle-lab
remote_user = rocky
roles_path = roles
log_path = /home/dataops/oracle-ha-platform-aws/ansible/ansible.log
